.main-container {
  padding: 50px 0;
}
.half-half {
  background: linear-gradient(to right, $light-gray 50%, white 50%);
  padding: 0px 50px;
}
// Chart section
.display-chart {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .all-titles {
    padding-left: 0;
    .hidden {
      display: none;
    }
  }
  .h4 {
    margin-top: 0;
  }
  .fa.fa-pencil {
    padding-left: 2px;
    color: rgba(51,51,51,1);
    font-size: 14px;
    &:hover {
      cursor: pointer;
      color: rgba(51,51,51,0.85);
      text-decoration: none;
    }
  }
}

// Table section
#data-sets-table {
  display: table;
  width: 100%;
  margin-top: 30px;
  p {
    margin: 0;
  }
}
.table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  border: 1px solid $medium-dark-gray;
  padding: 10px;
  text-align: center;
  width: 44%;
}
.table-cell-btn {
  display: table-cell;
  padding: 10px;
  text-align: center;
  width: 12%;
  a:hover {
    text-decoration: none;
  }
}
.table-cell.edit-delete {
  border: none;
}

.chart-area {
  background-color: white;
  border-radius: 2px;
  padding: 2px;
  text-align: center;
}

// Font Awesome icons in table
.fa.fa-pencil, .fa.fa-minus-circle {
  color: rgba(51,51,51,1);
  font-size: 14px;
  &:hover {
    color: rgba(51,51,51,0.85);
    text-decoration: none;
  }
}
.fa.fa-minus-circle {
  padding: 0 15px 0 1px;
}

// Media queries
@media (max-width: 1250px) {
  /* For a screen < 720px, this CSS will be read */
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
