.main-container {
  padding: 50px;
}

#chart-display {
  height: 400px;
  width: 400px;
}

#data-sets-table {
  display: table;
  width: 100%;
  margin-top: 30px;
  p {
    margin: 0;
  }
}

.table-heading {
  display: table-row;
  font-weight: bold;
  text-align: center;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: 1px solid $medium-dark-gray;
  padding: 10px;
  text-align: center;
  width: 44%;
}

.table-cell-btn {
  display: table-cell;
  padding: 10px;
  text-align: center;
  width: 12%;
}

.table-cell.edit-delete {
  border: none;
}
