.banner-landing {
	display: block;
	width: 100%;
	min-height: 800px;
	margin: 0;
	// padding: 20px;
	position: relative;
	color: white;
	background: linear-gradient(171deg, $dark-gray, $green 77%);
	.container-landing {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		// position: relative;
	}
	.landing-title {
		// align-self: center;
    width: 29%;
		padding-left: 50px;
    display: flex;
    align-items: center;
	}
	.landing-image {
		margin-top: 10px;
    width: 900px;
		img {
      width: 100%;
      }
	 }
}

.landing-chart {
    background-color: white;
    height: 270px;
    width: 252px;
    position: absolute;
    top: 216px;
    right: 196px;
}



@media (max-width: 1296px) {
		.banner-landing{
			min-height: 950px;
      .container-landing {
      	display: flex;
      	flex-direction: column;
      }
      .landing-title {
    		// position: absolute;
    		// top: 0;
        width: 100%;
        padding-left: 50px;
  		}
      .landing-image {
      	// position: absolute;
      	// top: 200px;
      	// right: 10px;
        width: 100%;
        img {
        padding-top: 30px;
        width: 100%;
        }
      }
    .landing-chart {
        visibility: hidden;
      }
    }
  }

@media (max-width: 726px) {
	.banner-landing{
		min-height: 600px;
    .container-landing {
    	display: flex;
    	flex-direction: column;
    }
    .landing-title {
    	// position: absolute;
    	// top: 5px;
      width: 100%;
      padding-left: 20px;
      h1 {
        font-size: 40px;
      }
      h3 {
        font-size: 25px;
      }
  	}
    .landing-image {
    	// position: absolute;
    	// top: 275px;
    	// right: -110px;
      width: 100%;
      img {
        padding-top: 20px;
        width: 100%;
      }
    }
     .landing-chart {
    visibility: hidden;
    }
  }
}
