.banner-landing {
	display: block;
	width: 100%;
	min-height: 800px;
	margin: 0;
	padding: 20px;
	position: relative;
	color: white;
	background: linear-gradient(171deg, $dark-gray, $green 77%);
	.container-landing {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.landing-title {
		align-self: center;
		padding-left: 45px;
	}
	.landing-image {
		margin-top: 10px;
		height: 550px;
	}
}

.landing-chart {
    background-color: white;
    height: 249px;
    width: 222px;
    position: absolute;
    top: 191px;
    right: 182px;
}

@media (max-width: 1180px) {
		.banner-landing{
			min-height: 1000px;
		}
    .container-landing {
    	display: flex;
    	flex-direction: column;
    }
    .landing-title {
		position: absolute;
		top: 0;
		}
    .landing-image {
    	position: absolute;
    	top: 200px;
    	right: 10px;
    }

    .landing-chart {
    	visibility: hidden;
    }
  }

@media (max-width: 726px) {
	.banner-landing{
		min-height: 1000px;
	}
  .container-landing {
  	display: flex;
  	flex-direction: column;
  }
  .landing-title {
	position: absolute;
	top: 5px;
	}
  .landing-image {
  	position: absolute;
  	top: 275px;
  	right: -110px;
  }

  .landing-chart {
		visibility: hidden;
	}
}
