<div id="data-sets-table">
  <div class="table-heading">
    <div class="table-cell">
      <p>LABEL</p>
    </div>
    <div class="table-cell">
      <p>VALUE</p>
    </div>
  </div>
  <% @chart.datasets.order(:created_at).each do |dataset| %>
    <%= render 'datasets/show', dataset: dataset %>
  <% end %>
</div>