<%= simple_form_for([chart, dataset], remote: true) do |f| %>
  <div class="form-table">
    <div class="left-form">
      <%= f.input :label, placeholder: 'Label', label: false %>
    </div>
    <div class="right-form">
      <%= f.input :value, placeholder: 'Value', label: false %>
    </div>
    <div class="submit-form">
      <%= f.button :button do %>
        <i class="fa fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
<% end %>
