<!-- This is the form used to edit and delete rows in the table -->
<%= simple_form_for([chart, dataset], remote: true, html: { class: "table-row", 'data-dataset-id' => dataset.id })  do |f| %>
  <div class="table-inline-entry">
    <div class="table-cell left-form">
      <%= f.input :label, placeholder: 'Label', label: false %>
    </div>
    <div class="table-cell right-form">
      <%= f.input :value, placeholder: 'Value', label: false %>
    </div>
    <div class="table-cell-btn submit-form">
      <%= f.button :button do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>
