// Below table entry
.table-entry {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .btn {
    padding: 0;
    margin-top: 7px;
    border: none;
    background-color: transparent;
  }
  .fa.fa-plus-circle {
    font-size: 20px;
    padding-right: 12px;
    &:hover {
    color: $green;
    }
  }
  .left-form {
    width: 44%;
    margin-right: 1px;
  }
  .right-form {
    width: 44%;
  }
  .submit-form {
    width: 12%;
    text-align: center;
  }
}

// In table entry
.table-inline-entry {
  .btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .fa.fa-plus-circle {
    font-size: 20px;
    padding-right: 12px;
    &:hover {
    color: $green;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}
