<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#bar">BAR</a></li>
  <li><a data-toggle="tab" href="#line">LINE</a></li>
  <li><a data-toggle="tab" href="#pie">PIE</a></li>
</ul>

<div class="tab-content">

  <div id="bar" class="tab-pane fade in active">
    <%= render 'bar' %>
  </div>

  <div id="line" class="tab-pane fade">
    <%= render 'line' %>
  </div>

  <div id="pie" class="tab-pane fade">
    <%= render 'pie' %>
  </div>

</div>
