<div class="memo"></div>
  <h1 class="memo-text text-center">
    <i class="far fa-chart-bar"></i>
  </h1>
  <h3 class="memo-text text-center">
    Your first chart is gonna be amazing!
  </h3>
  <p class="memo-text text-center">
    Everything you design will appear here.
  </p>
</div>
