<div class="no-chart-info"></div>
  <h1 class="no-chart-info-text text-center">
    <i class="far fa-chart-bar"></i>
  </h1>
  <h3 class="no-chart-info-text text-center">
    Your first design is gonna be amazing!
  </h3>
  <p class="no-chart-info-text text-center">
    Everything you design will appear here.
  </p>
</div>
