<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="card">
      <%= link_to charts_path, method: :post do %>
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bar-chart.png' %>')">
        </div>
      <% end %>
      <div class="body">
        <div class="card-title">
          <%= link_to "Bar Chart", charts_path, method: :post, class:"chart-title" %>
        </div>
      </div>
    </div>
  </div>
</div>
