<div class="all-titles">
  <div id="chart-title">
    <h4><%= @chart.title %></h4>
  </div>
  <div id="chart-subtitle">
    <h5><%= @chart.subtitle %>
      <i class="fa fa-pencil" aria-hidden="true" id="pencil-edit"></i>
  </h5>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    const form = document.getElementById('titles-form');
    const titles = document.getElementById('chart-titles');
      const pencil = document.getElementById("pencil-edit");
      pencil.addEventListener("click", (event) => {
        event.preventDefault;
        form.classList.toggle("hidden");
        titles.classList.toggle("hidden")
      });
  </script>
<% end %>
