<h1>Charts#edit</h1>
<p>Find me in app/views/charts/edit.html.erb</p>
<%= render 'form' %>

<h5>Datasets of <%= @chart.title %>:</h5>
<ul>
	<% @chart.datasets.each do |dataset| %>
	    <li><%= "#{dataset.label} | #{dataset.value}" %>
	  	</li>
	  <% end %>
	</ul>

<%= render 'datasets/form' %>
