<div class="wrap-index">
  <div class="container">
    <h3>Create a chart</h3>
    <%= render 'select_chart' %>
  </div>
</div>
<div class="container">
  <h3 id="all-projects">All your projects</h3>
  <div>
    <% if user_signed_in? && @charts.any? %>
      <%= render 'past_projects' %>
    <% else %>
      <%= render 'memo' %>
    <% end %>
  </div>
  <div class="index-footer">
    <%= render 'pages/footer' %>
  </div>
</div>
