<div class="container">

  <h2>Create a New Chart</h2>
  <%= render 'select_chart' %>

  <h2>My Projects</h2>
  <div>
    <% if user_signed_in? && @charts.any? %>
      <%= render 'past_projects' %>
    <% else %>
      <%= render 'memo' %>
    <% end %>
  </div>

  <div class="index-footer">
    <%= render 'pages/footer' %>
  </div>

</div>


