<div class="container">

  <h2>Select Chart</h2>
  <%= render 'select_chart' %>

  <h2>Past Projects</h2>
  <% if @charts.empty? %>
    <%= render 'no_chart_info' %>
  <% else %>
    <%= render 'past_projects' %>
  <% end %>

</div>
