<div class="footer-space">
	<div class="footer-container">
		<div>
			<p>(c) Waterfall 2018</p>
		</div>
		<div class="list-inline">
			<!-- to do: add links and correct align of footer -->
			<li><i class="fab fa-facebook-f"></i></li>
			<li><i class="fab fa-github"></i></li>
			<li><i class="fab fa-linkedin-in"></i></li>
		</div>
		<div>
			<p>Made with <i class="fas fa-heart"></i> @Le Wagon Bali</p>
		</div>
	</div>
</div>