<div class="banner-landing">
	<div class="container-landing">
		<div class="landing-title">
			<h1>Waterfall</h1>
			<h3>Create impactful charts.</h3>
			<h3>Simply.</h3>
		</div>
		<div class="landing-image">
    	<%= image_tag "laptop-placeholder.png", height: 600 %>
		</div>
	</div>
</div>