<div class="banner-landing">
	<div class="container-landing">
		<div class="landing-title">
      <div class="landing-title-text">
  			<h1>Waterfall</h1>
  			<h3>Create impactful charts.</h3>
  			<h3>Simply.</h3>
  			<br>
  			<%= link_to charts_path do %>
  				<div class="btn btn-try">TRY IT NOW</div>
  			<% end %>
      </div>
		</div>
		<div class="landing-image">
    	<%= image_tag "laptop-placeholder.png" %>
    	<div class="landing-chart"><svg></svg></div>
		</div>
	</div>
	<div class="footer-space">
		<%= render 'footer' %>
	</div>
</div>

<%= render 'waterfall_home' %>