.type-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 20px;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;

}
