.table-inline-entry {
  .btn {
    padding: 0;
    margin-top: 7px;
    border: none;
    background-color: #F4F4F4;
  }
  .fa.fa-plus-circle {
    padding-right: 12px;
    &:hover {
    color: $green;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
}
